In [7]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
import matplotlib.pyplot as plt
import pprint as pp
import requests

In [8]:
# Get GDP - Quarterly & Annual

api_key = 'YOUR_API_KEY'

url = f'https://www.alphavantage.co/query?function=REAL_GDP&interval=annual&apikey={api_key}'
r = requests.get(url)
data = r.json()

In [9]:
data.keys()

dict_keys(['name', 'interval', 'unit', 'data'])

In [10]:
pp.pprint(data)

{'data': [{'date': '2023-01-01', 'value': '22671.096'},
          {'date': '2022-01-01', 'value': '22034.828'},
          {'date': '2021-01-01', 'value': '21494.798'},
          {'date': '2020-01-01', 'value': '20267.585'},
          {'date': '2019-01-01', 'value': '20715.671'},
          {'date': '2018-01-01', 'value': '20193.896'},
          {'date': '2017-01-01', 'value': '19612.102'},
          {'date': '2016-01-01', 'value': '19141.672'},
          {'date': '2015-01-01', 'value': '18799.622'},
          {'date': '2014-01-01', 'value': '18261.714'},
          {'date': '2013-01-01', 'value': '17812.167'},
          {'date': '2012-01-01', 'value': '17442.759'},
          {'date': '2011-01-01', 'value': '17052.41'},
          {'date': '2010-01-01', 'value': '16789.75'},
          {'date': '2009-01-01', 'value': '16349.11'},
          {'date': '2008-01-01', 'value': '16781.485'},
          {'date': '2007-01-01', 'value': '16762.445'},
          {'date': '2006-01-01', 'value': '16433.148'},
          {'date': '2005-01-01', 'value': '15987.957'},
          {'date': '2004-01-01', 'value': '15449.757'},
          {'date': '2003-01-01', 'value': '14877.312'},
          {'date': '2002-01-01', 'value': '14472.712'},
          {'date': '2001-01-01', 'value': '14230.726'},
          {'date': '2000-01-01', 'value': '14096.033'},
          {'date': '1999-01-01', 'value': '13543.774'},
          {'date': '1998-01-01', 'value': '12924.876'},
          {'date': '1997-01-01', 'value': '12370.299'},
          {'date': '1996-01-01', 'value': '11843.599'},
          {'date': '1995-01-01', 'value': '11413.012'},
          {'date': '1994-01-01', 'value': '11114.647'},
          {'date': '1993-01-01', 'value': '10684.179'},
          {'date': '1992-01-01', 'value': '10398.046'},
          {'date': '1991-01-01', 'value': '10044.238'},
          {'date': '1990-01-01', 'value': '10055.129'},
          {'date': '1989-01-01', 'value': '9869.003'},
          {'date': '1988-01-01', 'value': '9519.427'},
          {'date': '1987-01-01', 'value': '9137.745'},
          {'date': '1986-01-01', 'value': '8832.611'},
          {'date': '1985-01-01', 'value': '8537.004'},
          {'date': '1984-01-01', 'value': '8195.295'},
          {'date': '1983-01-01', 'value': '7642.266'},
          {'date': '1982-01-01', 'value': '7307.314'},
          {'date': '1981-01-01', 'value': '7441.485'},
          {'date': '1980-01-01', 'value': '7257.316'},
          {'date': '1979-01-01', 'value': '7275.999'},
          {'date': '1978-01-01', 'value': '7052.711'},
          {'date': '1977-01-01', 'value': '6682.804'},
          {'date': '1976-01-01', 'value': '6387.437'},
          {'date': '1975-01-01', 'value': '6060.875'},
          {'date': '1974-01-01', 'value': '6073.363'},
          {'date': '1973-01-01', 'value': '6106.371'},
          {'date': '1972-01-01', 'value': '5780.048'},
          {'date': '1971-01-01', 'value': '5491.445'},
          {'date': '1970-01-01', 'value': '5316.391'},
          {'date': '1969-01-01', 'value': '5306.594'},
          {'date': '1968-01-01', 'value': '5145.914'},
          {'date': '1967-01-01', 'value': '4904.864'},
          {'date': '1966-01-01', 'value': '4773.931'},
          {'date': '1965-01-01', 'value': '4478.555'},
          {'date': '1964-01-01', 'value': '4205.277'},
          {'date': '1963-01-01', 'value': '3976.142'},
          {'date': '1962-01-01', 'value': '3810.124'},
          {'date': '1961-01-01', 'value': '3590.066'},
          {'date': '1960-01-01', 'value': '3500.272'},
          {'date': '1959-01-01', 'value': '3412.421'},
          {'date': '1958-01-01', 'value': '3191.216'},
          {'date': '1957-01-01', 'value': '3215.065'},
          {'date': '1956-01-01', 'value': '3148.765'},
          {'date': '1955-01-01', 'value': '3083.026'},
          {'date': '1954-01-01', 'value': '2877.708'},
          {'date': '1953-01-01', 'value': '2894.411'},
          {'date': '1952-01-01', 'value': '2764.803'},
          {'date': '1951-01-01', 'value': '2656.32'},
          {'date': '1950-01-01', 'value': '2458.532'},
          {'date': '1949-01-01', 'value': '2261.928'},
          {'date': '1948-01-01', 'value': '2274.627'},
          {'date': '1947-01-01', 'value': '2184.614'},
          {'date': '1946-01-01', 'value': '2209.911'},
          {'date': '1945-01-01', 'value': '2500.057'},
          {'date': '1944-01-01', 'value': '2524.752'},
          {'date': '1943-01-01', 'value': '2338.761'},
          {'date': '1942-01-01', 'value': '1998.542'},
          {'date': '1941-01-01', 'value': '1681.049'},
          {'date': '1940-01-01', 'value': '1428.075'},
          {'date': '1939-01-01', 'value': '1312.365'},
          {'date': '1938-01-01', 'value': '1214.869'},
          {'date': '1937-01-01', 'value': '1256.503'},
          {'date': '1936-01-01', 'value': '1195.251'},
          {'date': '1935-01-01', 'value': '1058.836'},
          {'date': '1934-01-01', 'value': '972.263'},
          {'date': '1933-01-01', 'value': '877.431'},
          {'date': '1932-01-01', 'value': '888.414'},
          {'date': '1931-01-01', 'value': '1019.977'},
          {'date': '1930-01-01', 'value': '1089.785'},
          {'date': '1929-01-01', 'value': '1191.124'}],
 'interval': 'annual',
 'name': 'Real Gross Domestic Product',
 'unit': 'billions of dollars'}

In [11]:
yearly_gdp_df = pd.DataFrame(data['data'])
yearly_gdp_df.head()

         date      value
0  2023-01-01  22671.096
1  2022-01-01  22034.828
2  2021-01-01  21494.798
3  2020-01-01  20267.585
4  2019-01-01  20715.671

In [12]:
yearly_gdp_df.to_csv(f'yearly_GDP.csv', index=False)