In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
import matplotlib.pyplot as plt
import pprint as pp
import requests

In [2]:
# Get GDP - Quarterly & Annual

api_key = 'YOUR_API_KEY'

url = f'https://www.alphavantage.co/query?function=REAL_GDP&interval=quarterly&apikey={api_key}'
r = requests.get(url)
data = r.json()

In [3]:
data.keys()

dict_keys(['name', 'interval', 'unit', 'data'])

In [4]:
pp.pprint(data)

{'data': [{'date': '2024-04-01', 'value': '5817.169'},
          {'date': '2024-01-01', 'value': '5638.455'},
          {'date': '2023-10-01', 'value': '5831.583'},
          {'date': '2023-07-01', 'value': '5724.051'},
          {'date': '2023-04-01', 'value': '5646.288'},
          {'date': '2023-01-01', 'value': '5469.175'},
          {'date': '2022-10-01', 'value': '5668.877'},
          {'date': '2022-07-01', 'value': '5544.386'},
          {'date': '2022-04-01', 'value': '5484.289'},
          {'date': '2022-01-01', 'value': '5337.277'},
          {'date': '2021-10-01', 'value': '5591.973'},
          {'date': '2021-07-01', 'value': '5408.478'},
          {'date': '2021-04-01', 'value': '5360.97'},
          {'date': '2021-01-01', 'value': '5133.377'},
          {'date': '2020-10-01', 'value': '5298.828'},
          {'date': '2020-07-01', 'value': '5134.93'},
          {'date': '2020-04-01', 'value': '4783.855'},
          {'date': '2020-01-01', 'value': '5049.973'},
          {'date': '2019-10-01', 'value': '5351.022'},
          {'date': '2019-07-01', 'value': '5232.278'},
          {'date': '2019-04-01', 'value': '5159.323'},
          {'date': '2019-01-01', 'value': '4973.048'},
          {'date': '2018-10-01', 'value': '5170.563'},
          {'date': '2018-07-01', 'value': '5092.532'},
          {'date': '2018-04-01', 'value': '5039.983'},
          {'date': '2018-01-01', 'value': '4890.817'},
          {'date': '2017-10-01', 'value': '5069.624'},
          {'date': '2017-07-01', 'value': '4950.878'},
          {'date': '2017-04-01', 'value': '4893.234'},
          {'date': '2017-01-01', 'value': '4698.367'},
          {'date': '2016-10-01', 'value': '4912.331'},
          {'date': '2016-07-01', 'value': '4819.182'},
          {'date': '2016-04-01', 'value': '4768.308'},
          {'date': '2016-01-01', 'value': '4641.851'},
          {'date': '2015-10-01', 'value': '4799.354'},
          {'date': '2015-07-01', 'value': '4741.07'},
          {'date': '2015-04-01', 'value': '4696.817'},
          {'date': '2015-01-01', 'value': '4562.381'},
          {'date': '2014-10-01', 'value': '4709.584'},
          {'date': '2014-07-01', 'value': '4616.61'},
          {'date': '2014-04-01', 'value': '4532.342'},
          {'date': '2014-01-01', 'value': '4403.178'},
          {'date': '2013-10-01', 'value': '4586.321'},
          {'date': '2013-07-01', 'value': '4486.445'},
          {'date': '2013-04-01', 'value': '4419.14'},
          {'date': '2013-01-01', 'value': '4320.262'},
          {'date': '2012-10-01', 'value': '4440.555'},
          {'date': '2012-07-01', 'value': '4376.682'},
          {'date': '2012-04-01', 'value': '4345.706'},
          {'date': '2012-01-01', 'value': '4279.816'},
          {'date': '2011-10-01', 'value': '4371.813'},
          {'date': '2011-07-01', 'value': '4273.162'},
          {'date': '2011-04-01', 'value': '4251.8'},
          {'date': '2011-01-01', 'value': '4155.635'},
          {'date': '2010-10-01', 'value': '4316.573'},
          {'date': '2010-07-01', 'value': '4229.41'},
          {'date': '2010-04-01', 'value': '4188.706'},
          {'date': '2010-01-01', 'value': '4055.062'},
          {'date': '2009-10-01', 'value': '4209.064'},
          {'date': '2009-07-01', 'value': '4102.854'},
          {'date': '2009-04-01', 'value': '4060.384'},
          {'date': '2009-01-01', 'value': '3976.808'},
          {'date': '2008-10-01', 'value': '4179.959'},
          {'date': '2008-07-01', 'value': '4192.399'},
          {'date': '2008-04-01', 'value': '4226.589'},
          {'date': '2008-01-01', 'value': '4182.537'},
          {'date': '2007-10-01', 'value': '4305.666'},
          {'date': '2007-07-01', 'value': '4208.612'},
          {'date': '2007-04-01', 'value': '4184.414'},
          {'date': '2007-01-01', 'value': '4063.753'},
          {'date': '2006-10-01', 'value': '4201.0'},
          {'date': '2006-07-01', 'value': '4111.947'},
          {'date': '2006-04-01', 'value': '4116.718'},
          {'date': '2006-01-01', 'value': '4003.482'},
          {'date': '2005-10-01', 'value': '4107.378'},
          {'date': '2005-07-01', 'value': '4040.686'},
          {'date': '2005-04-01', 'value': '3972.818'},
          {'date': '2005-01-01', 'value': '3867.076'},
          {'date': '2004-10-01', 'value': '3990.913'},
          {'date': '2004-07-01', 'value': '3879.617'},
          {'date': '2004-04-01', 'value': '3837.587'},
          {'date': '2004-01-01', 'value': '3741.64'},
          {'date': '2003-10-01', 'value': '3860.185'},
          {'date': '2003-07-01', 'value': '3753.431'},
          {'date': '2003-04-01', 'value': '3680.929'},
          {'date': '2003-01-01', 'value': '3582.767'},
          {'date': '2002-10-01', 'value': '3712.845'},
          {'date': '2002-07-01', 'value': '3650.253'},
          {'date': '2002-04-01', 'value': '3608.496'},
          {'date': '2002-01-01', 'value': '3501.118'}],
 'interval': 'quarterly',
 'name': 'Real Gross Domestic Product',
 'unit': 'billions of dollars'}

In [5]:
quarterly_gdp_df = pd.DataFrame(data['data'])
quarterly_gdp_df.head()

         date     value
0  2024-04-01  5817.169
1  2024-01-01  5638.455
2  2023-10-01  5831.583
3  2023-07-01  5724.051
4  2023-04-01  5646.288

In [6]:
quarterly_gdp_df.to_csv(f'quarterly_GDP.csv', index=False)