In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# Get Daily Stock historical data
ticker = 'AMZN'
df = yf.download(ticker, start='2009-01-01')
df.head()

[*********************100%***********************]  1 of 1 completed

              Open    High     Low  Close  Adj Close     Volume
Date
2009-01-02  2.5675  2.7265  2.5535  2.718      2.718  145928000
2009-01-05  2.7865  2.7870  2.6515  2.703      2.703  190196000
2009-01-06  2.7275  2.9110  2.6875  2.868      2.868  221602000
2009-01-07  2.8145  2.8475  2.7675  2.810      2.810  158854000
2009-01-08  2.7495  2.8660  2.7290  2.858      2.858  131558000

In [3]:
# save to csv
df.to_csv(f'{ticker}_daily_historical_data.csv')