In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
import matplotlib.pyplot as plt
import pprint as pp
import requests

In [2]:
# Get GDP - Quarterly & Annual

api_key = 'YOUR_API_KEY'

url = f'https://www.alphavantage.co/query?function=REAL_GDP_PER_CAPITA&apikey={api_key}'
r = requests.get(url)
data = r.json()

In [3]:
data.keys()

dict_keys(['name', 'interval', 'unit', 'data'])

In [4]:
pp.pprint(data)

{'data': [{'date': '2024-04-01', 'value': '68977.0'},
          {'date': '2024-01-01', 'value': '68549.0'},
          {'date': '2023-10-01', 'value': '68351.0'},
          {'date': '2023-07-01', 'value': '67916.0'},
          {'date': '2023-04-01', 'value': '67295.0'},
          {'date': '2023-01-01', 'value': '66967.0'},
          {'date': '2022-10-01', 'value': '66575.0'},
          {'date': '2022-07-01', 'value': '66115.0'},
          {'date': '2022-04-01', 'value': '65760.0'},
          {'date': '2022-01-01', 'value': '65779.0'},
          {'date': '2021-10-01', 'value': '65986.0'},
          {'date': '2021-07-01', 'value': '64877.0'},
          {'date': '2021-04-01', 'value': '64392.0'},
          {'date': '2021-01-01', 'value': '63428.0'},
          {'date': '2020-10-01', 'value': '62554.0'},
          {'date': '2020-07-01', 'value': '61915.0'},
          {'date': '2020-04-01', 'value': '57449.0'},
          {'date': '2020-01-01', 'value': '62416.0'},
          {'date': '2019-10-01', 'value': '63360.0'},
          {'date': '2019-07-01', 'value': '63022.0'},
          {'date': '2019-04-01', 'value': '62385.0'},
          {'date': '2019-01-01', 'value': '61939.0'},
          {'date': '2018-10-01', 'value': '61619.0'},
          {'date': '2018-07-01', 'value': '61622.0'},
          {'date': '2018-04-01', 'value': '61336.0'},
          {'date': '2018-01-01', 'value': '61093.0'},
          {'date': '2017-10-01', 'value': '60674.0'},
          {'date': '2017-07-01', 'value': '60099.0'},
          {'date': '2017-04-01', 'value': '59736.0'},
          {'date': '2017-01-01', 'value': '59494.0'},
          {'date': '2016-10-01', 'value': '59296.0'},
          {'date': '2016-07-01', 'value': '59084.0'},
          {'date': '2016-04-01', 'value': '58787.0'},
          {'date': '2016-01-01', 'value': '58704.0'},
          {'date': '2015-10-01', 'value': '58470.0'},
          {'date': '2015-07-01', 'value': '58486.0'},
          {'date': '2015-04-01', 'value': '58376.0'},
          {'date': '2015-01-01', 'value': '58121.0'},
          {'date': '2014-10-01', 'value': '57702.0'},
          {'date': '2014-07-01', 'value': '57536.0'},
          {'date': '2014-04-01', 'value': '56968.0'},
          {'date': '2014-01-01', 'value': '56345.0'},
          {'date': '2013-10-01', 'value': '56642.0'},
          {'date': '2013-07-01', 'value': '56272.0'},
          {'date': '2013-04-01', 'value': '55914.0'},
          {'date': '2013-01-01', 'value': '55859.0'},
          {'date': '2012-10-01', 'value': '55403.0'},
          {'date': '2012-07-01', 'value': '55454.0'},
          {'date': '2012-04-01', 'value': '55490.0'},
          {'date': '2012-01-01', 'value': '55342.0'},
          {'date': '2011-10-01', 'value': '54979.0'},
          {'date': '2011-07-01', 'value': '54482.0'},
          {'date': '2011-04-01', 'value': '54610.0'},
          {'date': '2011-01-01', 'value': '54341.0'},
          {'date': '2010-10-01', 'value': '54569.0'},
          {'date': '2010-07-01', 'value': '54401.0'},
          {'date': '2010-04-01', 'value': '54100.0'},
          {'date': '2010-01-01', 'value': '53683.0'},
          {'date': '2009-10-01', 'value': '53531.0'},
          {'date': '2009-07-01', 'value': '53081.0'},
          {'date': '2009-04-01', 'value': '53017.0'},
          {'date': '2009-01-01', 'value': '53221.0'},
          {'date': '2008-10-01', 'value': '53941.0'},
          {'date': '2008-07-01', 'value': '55278.0'},
          {'date': '2008-04-01', 'value': '55705.0'},
          {'date': '2008-01-01', 'value': '55497.0'},
          {'date': '2007-10-01', 'value': '55857.0'},
          {'date': '2007-07-01', 'value': '55649.0'},
          {'date': '2007-04-01', 'value': '55474.0'},
          {'date': '2007-01-01', 'value': '55260.0'},
          {'date': '2006-10-01', 'value': '55216.0'},
          {'date': '2006-07-01', 'value': '54886.0'},
          {'date': '2006-04-01', 'value': '54945.0'},
          {'date': '2006-01-01', 'value': '54927.0'},
          {'date': '2005-10-01', 'value': '54317.0'},
          {'date': '2005-07-01', 'value': '54153.0'},
          {'date': '2005-04-01', 'value': '53868.0'},
          {'date': '2005-01-01', 'value': '53719.0'},
          {'date': '2004-10-01', 'value': '53242.0'},
          {'date': '2004-07-01', 'value': '52835.0'},
          {'date': '2004-04-01', 'value': '52469.0'},
          {'date': '2004-01-01', 'value': '52179.0'},
          {'date': '2003-10-01', 'value': '51986.0'},
          {'date': '2003-07-01', 'value': '51512.0'},
          {'date': '2003-04-01', 'value': '50796.0'},
          {'date': '2003-01-01', 'value': '50462.0'},
          {'date': '2002-10-01', 'value': '50302.0'},
          {'date': '2002-07-01', 'value': '50362.0'},
          {'date': '2002-04-01', 'value': '50286.0'},
          {'date': '2002-01-01', 'value': '50091.0'},
          {'date': '2001-10-01', 'value': '49783.0'},
          {'date': '2001-07-01', 'value': '49774.0'},
          {'date': '2001-04-01', 'value': '50105.0'},
          {'date': '2001-01-01', 'value': '49911.0'},
          {'date': '2000-10-01', 'value': '50190.0'},
          {'date': '2000-07-01', 'value': '50024.0'},
          {'date': '2000-04-01', 'value': '50109.0'},
          {'date': '2000-01-01', 'value': '49335.0'},
          {'date': '1999-10-01', 'value': '49281.0'},
          {'date': '1999-07-01', 'value': '48632.0'},
          {'date': '1999-04-01', 'value': '48148.0'},
          {'date': '1999-01-01', 'value': '47880.0'},
          {'date': '1998-10-01', 'value': '47555.0'},
          {'date': '1998-07-01', 'value': '46943.0'},
          {'date': '1998-04-01', 'value': '46504.0'},
          {'date': '1998-01-01', 'value': '46204.0'},
          {'date': '1997-10-01', 'value': '45862.0'},
          {'date': '1997-07-01', 'value': '45616.0'},
          {'date': '1997-04-01', 'value': '45203.0'},
          {'date': '1997-01-01', 'value': '44590.0'},
          {'date': '1996-10-01', 'value': '44421.0'},
          {'date': '1996-07-01', 'value': '44105.0'},
          {'date': '1996-04-01', 'value': '43856.0'},
          {'date': '1996-01-01', 'value': '43259.0'},
          {'date': '1995-10-01', 'value': '43044.0'},
          {'date': '1995-07-01', 'value': '42885.0'},
          {'date': '1995-04-01', 'value': '42660.0'},
          {'date': '1995-01-01', 'value': '42654.0'},
          {'date': '1994-10-01', 'value': '42618.0'},
          {'date': '1994-07-01', 'value': '42264.0'},
          {'date': '1994-04-01', 'value': '42154.0'},
          {'date': '1994-01-01', 'value': '41713.0'},
          {'date': '1993-10-01', 'value': '41423.0'},
          {'date': '1993-07-01', 'value': '40997.0'},
          {'date': '1993-04-01', 'value': '40942.0'},
          {'date': '1993-01-01', 'value': '40829.0'},
          {'date': '1992-10-01', 'value': '40881.0'},
          {'date': '1992-07-01', 'value': '40599.0'},
          {'date': '1992-04-01', 'value': '40350.0'},
          {'date': '1992-01-01', 'value': '40051.0'},
          {'date': '1991-10-01', 'value': '39694.0'},
          {'date': '1991-07-01', 'value': '39691.0'},
          {'date': '1991-04-01', 'value': '39632.0'},
          {'date': '1991-01-01', 'value': '39451.0'},
          {'date': '1990-10-01', 'value': '39759.0'},
          {'date': '1990-07-01', 'value': '40266.0'},
          {'date': '1990-04-01', 'value': '40382.0'},
          {'date': '1990-01-01', 'value': '40361.0'},
          {'date': '1989-10-01', 'value': '40015.0'},
          {'date': '1989-07-01', 'value': '40046.0'},
          {'date': '1989-04-01', 'value': '39861.0'},
          {'date': '1989-01-01', 'value': '39648.0'},
          {'date': '1988-10-01', 'value': '39328.0'},
          {'date': '1988-07-01', 'value': '38908.0'},
          {'date': '1988-04-01', 'value': '38782.0'},
          {'date': '1988-01-01', 'value': '38359.0'},
          {'date': '1987-10-01', 'value': '38238.0'},
          {'date': '1987-07-01', 'value': '37685.0'},
          {'date': '1987-04-01', 'value': '37454.0'},
          {'date': '1987-01-01', 'value': '37132.0'},
          {'date': '1986-10-01', 'value': '36931.0'},
          {'date': '1986-07-01', 'value': '36822.0'},
          {'date': '1986-04-01', 'value': '36563.0'},
          {'date': '1986-01-01', 'value': '36476.0'},
          {'date': '1985-10-01', 'value': '36210.0'},
          {'date': '1985-07-01', 'value': '36033.0'},
          {'date': '1985-04-01', 'value': '35582.0'},
          {'date': '1985-01-01', 'value': '35346.0'},
          {'date': '1984-10-01', 'value': '35072.0'},
          {'date': '1984-07-01', 'value': '34871.0'},
          {'date': '1984-04-01', 'value': '34622.0'},
          {'date': '1984-01-01', 'value': '34103.0'},
          {'date': '1983-10-01', 'value': '33513.0'},
          {'date': '1983-07-01', 'value': '32906.0'},
          {'date': '1983-04-01', 'value': '32340.0'},
          {'date': '1983-01-01', 'value': '31686.0'},
          {'date': '1982-10-01', 'value': '31337.0'},
          {'date': '1982-07-01', 'value': '31402.0'},
          {'date': '1982-04-01', 'value': '31603.0'},
          {'date': '1982-01-01', 'value': '31529.0'},
          {'date': '1981-10-01', 'value': '32095.0'},
          {'date': '1981-07-01', 'value': '32533.0'},
          {'date': '1981-04-01', 'value': '32236.0'},
          {'date': '1981-01-01', 'value': '32550.0'},
          {'date': '1980-10-01', 'value': '31990.0'},
          {'date': '1980-07-01', 'value': '31489.0'},
          {'date': '1980-04-01', 'value': '31621.0'},
          {'date': '1980-01-01', 'value': '32377.0'},
          {'date': '1979-10-01', 'value': '32366.0'},
          {'date': '1979-07-01', 'value': '32386.0'},
          {'date': '1979-04-01', 'value': '32244.0'},
          {'date': '1979-01-01', 'value': '32294.0'},
          {'date': '1978-10-01', 'value': '32318.0'},
          {'date': '1978-07-01', 'value': '31982.0'},
          {'date': '1978-04-01', 'value': '31757.0'},
          {'date': '1978-01-01', 'value': '30653.0'},
          {'date': '1977-10-01', 'value': '30626.0'},
          {'date': '1977-07-01', 'value': '30713.0'},
          {'date': '1977-04-01', 'value': '30254.0'},
          {'date': '1977-01-01', 'value': '29749.0'},
          {'date': '1976-10-01', 'value': '29469.0'},
          {'date': '1976-07-01', 'value': '29335.0'},
          {'date': '1976-04-01', 'value': '29250.0'},
          {'date': '1976-01-01', 'value': '29099.0'},
          {'date': '1975-10-01', 'value': '28520.0'},
          {'date': '1975-07-01', 'value': '28214.0'},
          {'date': '1975-04-01', 'value': '27821.0'},
          {'date': '1975-01-01', 'value': '27690.0'},
          {'date': '1974-10-01', 'value': '28088.0'},
          {'date': '1974-07-01', 'value': '28270.0'},
          {'date': '1974-04-01', 'value': '28613.0'},
          {'date': '1974-01-01', 'value': '28606.0'},
          {'date': '1973-10-01', 'value': '28913.0'},
          {'date': '1973-07-01', 'value': '28711.0'},
          {'date': '1973-04-01', 'value': '28935.0'},
          {'date': '1973-01-01', 'value': '28687.0'},
          {'date': '1972-10-01', 'value': '28055.0'},
          {'date': '1972-07-01', 'value': '27666.0'},
          {'date': '1972-04-01', 'value': '27478.0'},
          {'date': '1972-01-01', 'value': '26932.0'},
          {'date': '1971-10-01', 'value': '26510.0'},
          {'date': '1971-07-01', 'value': '26529.0'},
          {'date': '1971-04-01', 'value': '26394.0'},
          {'date': '1971-01-01', 'value': '26328.0'},
          {'date': '1970-10-01', 'value': '25710.0'},
          {'date': '1970-07-01', 'value': '26079.0'},
          {'date': '1970-04-01', 'value': '25929.0'},
          {'date': '1970-01-01', 'value': '25973.0'},
          {'date': '1969-10-01', 'value': '26076.0'},
          {'date': '1969-07-01', 'value': '26281.0'},
          {'date': '1969-04-01', 'value': '26181.0'},
          {'date': '1969-01-01', 'value': '26162.0'},
          {'date': '1968-10-01', 'value': '25813.0'},
          {'date': '1968-07-01', 'value': '25781.0'},
          {'date': '1968-04-01', 'value': '25652.0'},
          {'date': '1968-01-01', 'value': '25288.0'},
          {'date': '1967-10-01', 'value': '24836.0'},
          {'date': '1967-07-01', 'value': '24719.0'},
          {'date': '1967-04-01', 'value': '24556.0'},
          {'date': '1967-01-01', 'value': '24602.0'},
          {'date': '1966-10-01', 'value': '24446.0'},
          {'date': '1966-07-01', 'value': '24321.0'},
          {'date': '1966-04-01', 'value': '24191.0'},
          {'date': '1966-01-01', 'value': '24172.0'},
          {'date': '1965-10-01', 'value': '23656.0'},
          {'date': '1965-07-01', 'value': '23198.0'},
          {'date': '1965-04-01', 'value': '22770.0'},
          {'date': '1965-01-01', 'value': '22547.0'},
          {'date': '1964-10-01', 'value': '22075.0'},
          {'date': '1964-07-01', 'value': '22085.0'},
          {'date': '1964-04-01', 'value': '21824.0'},
          {'date': '1964-01-01', 'value': '21657.0'},
          {'date': '1963-10-01', 'value': '21276.0'},
          {'date': '1963-07-01', 'value': '21219.0'},
          {'date': '1963-04-01', 'value': '20842.0'},
          {'date': '1963-01-01', 'value': '20677.0'},
          {'date': '1962-10-01', 'value': '20521.0'},
          {'date': '1962-07-01', 'value': '20536.0'},
          {'date': '1962-04-01', 'value': '20366.0'},
          {'date': '1962-01-01', 'value': '20254.0'},
          {'date': '1961-10-01', 'value': '19970.0'},
          {'date': '1961-07-01', 'value': '19670.0'},
          {'date': '1961-04-01', 'value': '19380.0'},
          {'date': '1961-01-01', 'value': '19130.0'},
          {'date': '1960-10-01', 'value': '19065.0'},
          {'date': '1960-07-01', 'value': '19390.0'},
          {'date': '1960-04-01', 'value': '19392.0'},
          {'date': '1960-01-01', 'value': '19614.0'},
          {'date': '1959-10-01', 'value': '19296.0'},
          {'date': '1959-07-01', 'value': '19326.0'},
          {'date': '1959-04-01', 'value': '19395.0'},
          {'date': '1959-01-01', 'value': '19041.0'},
          {'date': '1958-10-01', 'value': '18764.0'},
          {'date': '1958-07-01', 'value': '18419.0'},
          {'date': '1958-04-01', 'value': '18081.0'},
          {'date': '1958-01-01', 'value': '18032.0'},
          {'date': '1957-10-01', 'value': '18582.0'},
          {'date': '1957-07-01', 'value': '18862.0'},
          {'date': '1957-04-01', 'value': '18763.0'},
          {'date': '1957-01-01', 'value': '18881.0'},
          {'date': '1956-10-01', 'value': '18845.0'},
          {'date': '1956-07-01', 'value': '18632.0'},
          {'date': '1956-04-01', 'value': '18736.0'},
          {'date': '1956-01-01', 'value': '18658.0'},
          {'date': '1955-10-01', 'value': '18808.0'},
          {'date': '1955-07-01', 'value': '18787.0'},
          {'date': '1955-04-01', 'value': '18621.0'},
          {'date': '1955-01-01', 'value': '18396.0'},
          {'date': '1954-10-01', 'value': '17960.0'},
          {'date': '1954-07-01', 'value': '17701.0'},
          {'date': '1954-04-01', 'value': '17584.0'},
          {'date': '1954-01-01', 'value': '17636.0'},
          {'date': '1953-10-01', 'value': '17797.0'},
          {'date': '1953-07-01', 'value': '18155.0'},
          {'date': '1953-04-01', 'value': '18341.0'},
          {'date': '1953-01-01', 'value': '18268.0'},
          {'date': '1952-10-01', 'value': '18001.0'},
          {'date': '1952-07-01', 'value': '17509.0'},
          {'date': '1952-04-01', 'value': '17459.0'},
          {'date': '1952-01-01', 'value': '17490.0'},
          {'date': '1951-10-01', 'value': '17375.0'},
          {'date': '1951-07-01', 'value': '17420.0'},
          {'date': '1951-04-01', 'value': '17147.0'},
          {'date': '1951-01-01', 'value': '16922.0'},
          {'date': '1950-10-01', 'value': '16764.0'},
          {'date': '1950-07-01', 'value': '16524.0'},
          {'date': '1950-04-01', 'value': '15977.0'},
          {'date': '1950-01-01', 'value': '15559.0'},
          {'date': '1949-10-01', 'value': '15032.0'},
          {'date': '1949-07-01', 'value': '15228.0'},
          {'date': '1949-04-01', 'value': '15137.0'},
          {'date': '1949-01-01', 'value': '15250.0'},
          {'date': '1948-10-01', 'value': '15530.0'},
          {'date': '1948-07-01', 'value': '15585.0'},
          {'date': '1948-04-01', 'value': '15563.0'},
          {'date': '1948-01-01', 'value': '15371.0'},
          {'date': '1947-10-01', 'value': '15204.0'},
          {'date': '1947-07-01', 'value': '15039.0'},
          {'date': '1947-04-01', 'value': '15139.0'},
          {'date': '1947-01-01', 'value': '15248.0'}],
 'interval': 'quarterly',
 'name': 'Real Gross Domestic Product per Capita',
 'unit': 'chained 2012 dollars'}

In [5]:
quarterly_gdp_df = pd.DataFrame(data['data'])
quarterly_gdp_df.head()

         date    value
0  2024-04-01  68977.0
1  2024-01-01  68549.0
2  2023-10-01  68351.0
3  2023-07-01  67916.0
4  2023-04-01  67295.0

In [6]:
quarterly_gdp_df.to_csv(f'quarterly_GDP_per_Capita.csv', index=False)