In [8]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.animation as animation


import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

# Step 1: Loading Dataset

In [9]:
# Load the dataset
df = pd.read_csv("monthly_unemployment_data.csv")

# Removing leading and trailing spaces from column names
df.columns = df.columns.str.strip()

# Using a regular expression to replace multiple spaces with a single space in all column names
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True)

# Step 2: Overview of Dataset

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    391 non-null    object
 1   value   391 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.2+ KB

In [11]:
df.head(20)

          date     value
0   2024-08-01  289211.0
1   2024-07-01  268942.0
2   2024-06-01  287595.0
3   2024-05-01  284736.0
4   2024-04-01  275566.0
5   2024-03-01  305526.0
6   2024-02-01  268258.0
7   2024-01-01  252522.0
8   2023-12-01  299969.0
9   2023-11-01  286515.0
10  2023-10-01  278895.0
11  2023-09-01  308103.0
12  2023-08-01  290578.0
13  2023-07-01  261612.0
14  2023-06-01  324238.0
15  2023-05-01  288640.0
16  2023-04-01  272375.0
17  2023-03-01  312535.0
18  2023-02-01  256827.0
19  2023-01-01  254810.0

# Step 3: EDA - Missing Values Analysis

## Step 3)i): EDA - Show Missing Values in each Column

In [12]:
def display_columns_with_null_values(df: pd.DataFrame):
    """
    Displays the total number of null values for each column in the dataframe,
    showing only columns that have null values.
    
    Parameters:
    - df (pd.DataFrame): The dataframe to be checked for null values.
    
    Returns:
    - None: Prints the columns with null values and their counts.
    """
    
    # Get total null values in each column
    total_null_values = df.isnull().sum()
    
    # Filter out columns that don't have any null values
    columns_with_null = total_null_values[total_null_values > 0].sort_values(ascending=False)
    
    # Check if there are any columns with null values
    if not columns_with_null.empty:
        print('-' * 64)
        print("Total null values in each column (only columns with null values)")
        print('-' * 64)
        print(columns_with_null)
    else:
        print('-' * 64)
        print("Total null values in each column (only columns with null values)")
        print('-' * 64)
        print("No columns have null values.")

In [13]:
# Get percentage of null values in each column
null_values_percentage = df.isnull().mean().round(4).mul(100).sort_values(ascending=False)
print('-' * 44)
print("Percentage(%) of null values in each column")
print('-' * 44)
print(null_values_percentage)
print('\n')

# Get total null values in each column
display_columns_with_null_values(df)

--------------------------------------------
Percentage(%) of null values in each column
--------------------------------------------
date     0.0
value    0.0
dtype: float64


----------------------------------------------------------------
Total null values in each column (only columns with null values)
----------------------------------------------------------------
No columns have null values.

## Step 3)ii): EDA - Handling Missing Values

In [14]:
# Fill Null Values in the Remaining Columns with the average of the column
numeric_df = df.select_dtypes(include=[np.number]) # Select only numeric columns
numeric_df.fillna(numeric_df.mean(), inplace=True)  # Fill missing values in numeric columns with the column mean
df[numeric_df.columns] = numeric_df # Merge back with non-numeric columns if needed

# Get total null values in each column
display_columns_with_null_values(df)

----------------------------------------------------------------
Total null values in each column (only columns with null values)
----------------------------------------------------------------
No columns have null values.

In [15]:
df.head(20)

          date     value
0   2024-08-01  289211.0
1   2024-07-01  268942.0
2   2024-06-01  287595.0
3   2024-05-01  284736.0
4   2024-04-01  275566.0
5   2024-03-01  305526.0
6   2024-02-01  268258.0
7   2024-01-01  252522.0
8   2023-12-01  299969.0
9   2023-11-01  286515.0
10  2023-10-01  278895.0
11  2023-09-01  308103.0
12  2023-08-01  290578.0
13  2023-07-01  261612.0
14  2023-06-01  324238.0
15  2023-05-01  288640.0
16  2023-04-01  272375.0
17  2023-03-01  312535.0
18  2023-02-01  256827.0
19  2023-01-01  254810.0

# Step 4: EDA - Duplicate Values Analysis

## Step 4)i): EDA - Show Duplicate Values Rows

In [16]:
# Get percentage of duplicate rows
total_rows = len(df)
duplicate_rows = df.duplicated().sum()
duplicate_percentage = (duplicate_rows / total_rows) * 100

print('-' * 48)
print("Percentage(%) of duplicate rows in the DataFrame")
print('-' * 48)
print(f"{duplicate_percentage:.2f}%")
print('\n')

# Get total number of duplicate rows
print('-' * 30)
print("Total number of duplicate rows")
print('-' * 30)
print(duplicate_rows)

------------------------------------------------
Percentage(%) of duplicate rows in the DataFrame
------------------------------------------------
0.00%


------------------------------
Total number of duplicate rows
------------------------------
0

## Step 4)ii): EDA - Handling Duplicate Values Rows

In [17]:
# # Drop all duplicate rows
# df_cleaned = df.drop_duplicates()

# print('-' * 22)
# print("Duplicate rows dropped")
# print('-' * 22)
# print(f"Original number of rows: {total_rows}")
# print(f"Number of rows after dropping duplicates: {len(df_cleaned)}")

# Step 5): EDA - Save Cleaned Dataset

In [18]:
# save to csv
df.to_csv(f'DC_monthly_unemployment_data.csv')